.page-find-input-group {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 322px; // default width of form + width of button
  width: 100%;
}

.page-find-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  // = +1 => same size as button
  height: 32px;
  min-width: 0; // (flexbox))
  // so that z-index works
  position: relative;
  // so that box-shadow on focus is rendered over button
  z-index: 1;
}

.page-find-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
}

.page-find-error {
  color: $color-text-danger;
  margin-top: $spacer-5;
}
