.page-login {
  background-color: #f0f0f0; //$color-background-gray;
  padding: $spacer-3;
}

.login-card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 3px #ddd;
  padding-bottom: $spacer-7;
  padding-left: $spacer-5;
  padding-right: $spacer-5;
  padding-top: $spacer-4;
}

.login-card-brand {
  text-align: center;
  //padding-bottom: $spacer-4;
  padding-top: $spacer-4;

  svg {
    fill: currentColor;
  }
}

.login-card-hr {
    margin: 48px 32px;
}

.login-card .alert {
  margin-bottom: $spacer-3;
}

.login-card .form-field {
  display: inline-block;
  margin-bottom: $spacer-2;
}

@media (min-width: $breakpoint-md + 1) {
  .login-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    max-width: 450px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
