.page-project-list-h2 {
  margin-bottom: 16px;
  margin-top: 24px;
}

.page-project-list-box {
  display: block;
  padding: 16px 32px;
}

.page-project-list-box:hover {
  background-color: #fafbfc; // Primer --color-bg-secondary
}

.page-project-list-label {
  line-height: $line-height-paragraph;
}

a.page-project-list-box:hover .page-project-list-label {
  color: $color-text-link;
  text-decoration: underline;
}

.page-project-list-description {
  color: $color-text-secondary;

  a {
    color: inherit;
  }
}

.page-project-list-button {
  margin-left: 32px;
}

// //

.page-project-tables-created {
  color: $color-text-secondary;
  font-style: italic;
}

.page-project-tables-progress-more {
  color: #30a147; // Primer --data-green-color
}

.page-project-tables-progress-less {
  color: #cf222e; // Primer --color-danger-fg
}

// //

#form-export.submitted + .page-project-export-processing {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: progress;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

// //

// Also used on users_list page
.page-project-participants-locked {
  font-size: 90%;
  padding-left: 2px;
  vertical-align: unset;
}
