.alerts {
  margin-bottom: $spacer-4;
  margin-top: $spacer-4;

  .alert {
    margin-top: $spacer-3;
  }
}

.alert {
  align-items: center;
  background-color: rgb(241, 248, 255); // Primer Docs
  border-left: 4px solid rgb(33, 136, 255); // Primer Docs
  border-radius: 4px;
  color: darken(rgb(33, 136, 255), 25%);
  display: flex;
  padding-left: ($spacer-3)-4px; // oder 12px // -4px = -border-left-width
  padding-right: $spacer-3;

  .icon {
    flex-shrink: 0;
    margin-right: $spacer-3; // = .alert padding
    margin-top: 2px;
  }

  p {
    margin-bottom: $spacer-3;
    margin-top: $spacer-3;

    &:not(:last-of-type) {
      padding-bottom: $spacer-2;
    }
  }
}

.alert-button {
  margin-left: auto;
  padding-left: $spacer-3;

  .button {
    vertical-align: middle;
  }
}

.alert-error {
  background-color: lighten(#ffe3e6, 2%);
  border-color: darken(#ffe3e6, 52.5%);
  color: darken(#ffe3e6, 60%);

  a {
    color: darken(#ffe3e6, 50%); // #ffe3e6 -> Primer
  }
}
