.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown summary {
  cursor: pointer;
  list-style-type: none; // Removes caret on Firefox
  outline: none; // Safari

  &::-webkit-details-marker { // Removes caret on webkit
    display: none;
  }

  &::marker { // Other browsers?
    display: none;
  }
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid $color-border-primary;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2); // Primer?
  color: $color-text-primary;
  padding-bottom: $spacer-1;
  padding-top: $spacer-1;
  position: absolute;
  width: 225px;
  z-index: 100; // previously issues with disabled inputs with Safari iOS
}

.dropdown-menu-down {
  margin-top: 4px;
}

.dropdown-menu-up {
  bottom: 100%;
  margin-bottom: 4px;
}

.dropdown-menu-left {
  right: 0;
}

$dropdown-padding-x: $spacer-3;
$dropdown-padding-y: $spacer-2;

.dropdown-item-text {
  color: $color-text-secondary;
  font-size: $font-size-smaller;
  line-height: $line-height-paragraph;
  padding: $dropdown-padding-y $dropdown-padding-x;
}

.dropdown-item-form {
  font-size: $font-size-smaller;
  padding: $dropdown-padding-y $dropdown-padding-x;

  .form-group {
    margin-bottom: $spacer-2;
  }
}

.dropdown-divider {
  margin-bottom: $spacer-1;
  margin-top: $spacer-1;
}

.dropdown-link {
  display: block;
  padding: $dropdown-padding-y $dropdown-padding-x;

  @include one-line-text;

  &:hover {
    background-color: $color-background-gray;
  }

  .bi {
    font-size: 16px;
    margin-right: $spacer-2;
  }
}
