.main-header {
  align-items: center;
  border-bottom: 1px solid $color-border-primary;
  display: flex;
  margin-bottom: $main-header-margin-bottom;
  margin-top: $main-header-margin-top;
  padding-bottom: $spacer-2;
}

.main-header-header {
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size/36247448#36247448
  min-width: 0;
}

.main-heading {
  font-size: 20px; // TODO prev 22px
  line-height: 1.2; // increase became necessary after overflow: none cut off part of the font vertically with line-height: 1

  @include one-line-text;
}

.main-header-actions {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: $spacer-1;

  > :not(:first-child) {
    margin-left: $spacer-2;
  }
}

@media (max-width: $breakpoint-sm) {
  .main-header-actions-responsive > :not(.main-header-actions-more) {
    display: none;
  }
}

@media (min-width: $breakpoint-sm+1) {
  .main-header-actions-more {
    display: none;
  }
}

.main-header-action {
  float: left;

  @include clearfix;
}

.main-subtitle {
  color: $color-text-secondary;
  margin-top: 2px; // previously $spacer-1, decreased because of increased line-height on .main-heading

  @include one-line-text;
}

.main-subheading {
  font-size: 18px;
  margin-bottom: $spacer-3;
  margin-top: $spacer-4;
}

.main-link {
  color: $color-text-link;

  &:hover {
    text-decoration: underline;
  }
}
