.upload-zone {
  max-width: unset;
}

.upload-list {
  margin-top: $spacer-4;
}

.upload-list:empty {
  display: none;
}

.upload-list-icon {
  color: $color-text-secondary;
  font-size: $font-size-larger;
  margin-right: $spacer-2;
}

.upload-list-name {
  font-weight: $font-weight-bold;

  @include one-line-text;
}

.upload-list-progress {
  .bi-check, .bi-x { // Super-specific positioning necessary since bootstrap-icons update
    display: inline-block;
    font-size: 26px;
    line-height: 14px;
    vertical-align: bottom;
    width: 22px;

    &::before {
      line-height: inherit;
    }
  }

  .bi-check {
    color: $color-text-success;
  }
}

.upload-list-error,
.upload-list-progress .bi-x {
  color: $color-text-danger;
}
