# .gitignore

# build files
/dist/
# ! has no effect if parent directory is excluded
# https://git-scm.com/docs/gitignore # Pattern format, 4
#!/dist/.htaccess

# npm
/node_modules/

# IntelliJ
/.idea/

# macOS
.DS_STORE

# Windows
Desktop.ini
