@use "sass:math";

// parent element for columns

.row {
  width: 100%;
}

// .break-x, class for .row, defines when columns within extend to full width

@each $breakpoint, $width in $breakpoints {
  @media (max-width: $width) {
    .break-#{$breakpoint} > .column {
      padding: 0;
      width: 100%;
    }
  }
}

// element in a row, width is defined by .width-X

.column {
  float: left;
  padding-left: round(math.div($column-padding, 2));
  padding-right: round(math.div($column-padding, 2));

  // Causes first and last column to be less wide as columns in between
  // If a row contains three columns with width-4 each, they won't be equally wide
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

// defines width of columns

@for $index from 1 through 12 {
  .width-#{$index} {
    width: (math.div($index, 12) * 100%);
  }
}
